Repository aragon/sdk, pull requests merged in 2022-06, with the labels that each got.

#17 Feature: Add IPFS integration
  .github/workflows/javascript_publish.yml
  .github/workflows/javascript_test.yml
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/client/src/context.ts
  javascript/modules/client/src/internal/client-core.ts
  javascript/modules/client/src/internal/interfaces/client-core.ts
  javascript/modules/client/src/internal/interfaces/context.ts
  javascript/modules/client/test/unit/client.test.ts
  javascript/modules/common/CHANGELOG.md
  javascript/modules/common/package.json
  javascript/modules/common/src/random.ts
  javascript/modules/common/test/unit/random.test.ts
  javascript/package.json
  javascript/test-environment
  javascript/yarn.lock
Labels: javascript, javascript-common, common:patch, client:patch, javascript-client

#30 Dummy PR to force publishing
  javascript/modules/client/CHANGELOG.md
  javascript/modules/common/CHANGELOG.md
Labels: common:patch, client:patch

#31 Improved release and changelog
  .github/pull_request_template.md
  .github/scripts/generate_release_notes.py
  .github/workflows/javascript_publish.yml
  javascript/modules/client/CHANGELOG.md
  javascript/modules/common/CHANGELOG.md
Labels: javascript, javascript-common, common:patch, javascript-client

#34 Gas estimation for proposal creation
  javascript/modules/client/src/client-dao.ts
Labels: javascript, client:patch, javascript-client
