Repository aragon/sdk, pull requests merged in 2022-11, with the labels that each got.

#93 Feature: Prevent malicious mutation of global class prototypes
  modules/client/src/addressList/client.ts
  modules/client/src/addressList/internal/client/decoding.ts
  modules/client/src/addressList/internal/client/encoding.ts
  modules/client/src/addressList/internal/client/estimation.ts
  modules/client/src/addressList/internal/client/methods.ts
  modules/client/src/client-common/core.ts
  modules/client/src/client-common/modules/graphql.ts
  modules/client/src/client-common/modules/ipfs.ts
  modules/client/src/client-common/modules/web3.ts
  modules/client/src/client.ts
  modules/client/src/erc20/client.ts
  modules/client/src/erc20/internal/client/decoding.ts
  modules/client/src/erc20/internal/client/encoding.ts
  modules/client/src/erc20/internal/client/estimation.ts
  modules/client/src/erc20/internal/client/methods.ts
  modules/client/src/internal/client/decoding.ts
  modules/client/src/internal/client/encoding.ts
  modules/client/src/internal/client/estimation.ts
  modules/client/src/internal/client/methods.ts
Labels: javascript, javascript-client

#97 Feature: Use real contracts to create a DAO
  .github/workflows/javascript_test.yml
  helpers/deployContracts.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addressList/interfaces.ts
  modules/client/src/addressList/internal/client/decoding.ts
  modules/client/src/addressList/internal/client/encoding.ts
  modules/client/src/addressList/internal/constants.ts
  modules/client/src/addressList/internal/utils.ts
  modules/client/src/client-common/context.ts
  modules/client/src/client-common/encoding.ts
  modules/client/src/client-common/interfaces/context.ts
  modules/client/src/client-common/interfaces/core.ts
  modules/client/src/client-common/modules/web3.ts
  modules/client/src/erc20/interfaces.ts
  modules/client/src/erc20/internal/constants.ts
  modules/client/src/erc20/internal/utils.ts
  modules/client/src/interfaces.ts
  modules/client/src/internal/client/methods.ts
  modules/client/src/internal/utils.ts
  modules/client/test/helpers/deployContracts.ts
  modules/client/test/helpers/ganache-setup.ts
  modules/client/test/integration/client-addressList/decoding.test.ts
  modules/client/test/integration/client-addressList/encoding.test.ts
  modules/client/test/integration/client-addressList/estimation.test.ts
  modules/client/test/integration/client-addressList/methods.test.ts
  modules/client/test/integration/client-erc20/decoding.test.ts
  modules/client/test/integration/client-erc20/estimation.test.ts
  modules/client/test/integration/client-erc20/methods.test.ts
  modules/client/test/integration/client/decoding.test.ts
  modules/client/test/integration/client/estimation.test.ts
  modules/client/test/integration/client/methods.test.ts
  modules/client/tsconfig.json
  modules/common/src/errors.ts
  modules/ipfs/src/internal/helpers.ts
  package.json
  yarn.lock
Labels: client-release

#99 fix: adds ganache back
  modules/client/package.json
  yarn.lock
Labels: client-release

#100 update changelog
  modules/common/CHANGELOG.md
Labels: common-release

#107 Feat: canVote integration
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addressList/internal/client/methods.ts
  modules/client/src/erc20/internal/client/methods.ts
  modules/client/test/integration/client-addressList/methods.test.ts
  modules/client/test/integration/client-erc20/methods.test.ts
  modules/common/CHANGELOG.md
  modules/common/package.json
Labels: client-release, common-release

#108 Fix: Subgraph read calls
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addressList/interfaces.ts
  modules/client/src/addressList/internal/client/methods.ts
  modules/client/src/addressList/internal/graphql-queries/proposal.ts
  modules/client/src/addressList/internal/graphql-queries/settings.ts
  modules/client/src/addressList/internal/utils.ts
  modules/client/src/erc20/interfaces.ts
  modules/client/src/erc20/internal/client/methods.ts
  modules/client/src/erc20/internal/graphql-queries/proposal.ts
  modules/client/src/erc20/internal/graphql-queries/settings.ts
  modules/client/src/erc20/internal/graphql-queries/token.ts
  modules/client/src/erc20/internal/utils.ts
  modules/client/src/interfaces.ts
  modules/client/src/internal/graphql-queries/dao.ts
  modules/client/src/internal/utils.ts
  modules/client/test/integration/client-erc20/methods.test.ts
  modules/client/test/integration/client/methods.test.ts
  modules/client/test/integration/constants.ts
Labels: client-release

#114 fix: removes hardcoded cids
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addressList/internal/client/methods.ts
  modules/client/src/erc20/internal/client/methods.ts
  modules/client/src/internal/client/methods.ts
Labels: client-release
