Repository aragon/sdk, pull requests merged in 2022-09, with the labels that each got.

#61 Feature: Add decoders for all the existing actions
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/client.ts
  javascript/modules/client/src/internal/constants/encoding.ts
  javascript/modules/client/src/internal/encoding/client.ts
  javascript/modules/client/src/internal/encoding/plugins.ts
  javascript/modules/client/src/internal/interfaces/client.ts
  javascript/modules/client/src/internal/interfaces/common.ts
  javascript/modules/client/src/internal/interfaces/plugins.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
  javascript/modules/client/test/integration/client.test.ts
Labels: javascript, javascript-client

#62 fix javascript release version generation
  .github/workflows/javascript_release.yml
Labels: client-release, common-release

#63 Version bump (0.4.0-alpha)
  javascript/modules/client/package.json
Labels: client-publish

#65 Feature: Make signer an optional parameter
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/client/src/internal/interfaces/context.ts
Labels: javascript, javascript-client, client-release

#66 Fix: Encoding flow when updating plugin settings
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/internal/interfaces/plugins.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
Labels: javascript, javascript-client, client-release

#67 Feat/doc update
  .github/workflows/documentation-update.yml
  javascript/docs/client.md
Labels: javascript

#71 Feature: Add time delay between yields
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/client.ts
  javascript/modules/client/src/internal/temp-mock.ts
Labels: javascript, javascript-client

#72 Feature: Add getToken function
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/internal/graphql-queries/token.ts
  javascript/modules/client/src/internal/interfaces/plugins.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
  javascript/modules/client/test/integration/client.test.ts
Labels: javascript, javascript-client

#73 Feature: Add encoders/decoders for grant, revoke and freeze actions
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client.ts
  javascript/modules/client/src/internal/constants/encoding.ts
  javascript/modules/client/src/internal/encoding/client.ts
  javascript/modules/client/src/internal/interfaces/client.ts
  javascript/modules/client/test/integration/client.test.ts
Labels: javascript, javascript-client, client-release

#74 Feature: Implement real data in ipfs and subgraph calls
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/client.ts
  javascript/modules/client/src/internal/core.ts
  javascript/modules/client/src/internal/graphql-queries/balances.ts
  javascript/modules/client/src/internal/graphql-queries/dao.ts
  javascript/modules/client/src/internal/graphql-queries/proposal.ts
  javascript/modules/client/src/internal/graphql-queries/settings.ts
  javascript/modules/client/src/internal/interfaces/client.ts
  javascript/modules/client/src/internal/interfaces/core.ts
  javascript/modules/client/src/internal/interfaces/plugins.ts
  javascript/modules/client/src/internal/temp-mock.ts
  javascript/modules/client/src/internal/utils/client.ts
  javascript/modules/client/src/internal/utils/plugins.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
  javascript/modules/client/test/integration/client.test.ts
  javascript/modules/common/CHANGELOG.md
  javascript/modules/common/package.json
  javascript/modules/common/src/errors.ts
Labels: javascript, javascript-common, javascript-client, client-release, common-release

#75 Feature: Encoders/decoders for token minting and wallet management
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/internal/constants/encoding.ts
  javascript/modules/client/src/internal/encoding/plugins.ts
  javascript/modules/client/src/internal/interfaces/plugins.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
  javascript/modules/common/CHANGELOG.md
  javascript/modules/common/package.json
  javascript/modules/common/src/errors.ts
Labels: javascript, javascript-common, javascript-client, client-release, common-release

#77 Feature: add canVote()
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/internal/interfaces/plugins.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
  javascript/modules/common/CHANGELOG.md
  javascript/modules/common/package.json
  javascript/modules/common/src/errors.ts
Labels: javascript, javascript-common, javascript-client, client-release, common-release

#76 App 1024 sdk split client core inner components into separate classes
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/client/src/internal/core.ts
  javascript/modules/client/src/internal/modules/graphql.ts
  javascript/modules/client/src/internal/modules/ipfs.ts
  javascript/modules/client/src/internal/modules/web3.ts
  javascript/modules/client/test/integration/client-core.test.ts
  javascript/modules/client/test/integration/core-modules/graphql.test.ts
  javascript/modules/client/test/integration/core-modules/ipfs.test.ts
  javascript/yarn.lock
Labels: javascript, javascript-client

#78 Fix: PluginContext `fromContext` function
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-addressList.ts
  javascript/modules/client/src/client-erc20.ts
  javascript/modules/client/src/context-plugin.ts
  javascript/modules/client/src/internal/interfaces/client.ts
  javascript/modules/client/test/integration/client-addressList.test.ts
  javascript/modules/client/test/integration/client-erc20.test.ts
  javascript/modules/client/test/unit/context-plugins.test.ts
Labels: javascript, javascript-client, client-release
