Repository aragon/sdk, pull requests merged in 2022-07, with the labels that each got.

#38 Fix: Deposit ERC20 token allowance
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/src/internal/abi/dao.ts
  javascript/modules/client/src/internal/client-core.ts
Labels: javascript, javascript-client, client-publish

#37 Feature: Finance read operations
  javascript/modules/client/README.md
  javascript/modules/client/src/client.ts
  javascript/modules/client/src/internal/interfaces/client.ts
Labels: javascript, javascript-client

#41 IPFS raw client
  javascript/.vscode/launch.json
  javascript/modules/ipfs/CHANGELOG.md
  javascript/modules/ipfs/README.md
  javascript/modules/ipfs/package.json
  javascript/modules/ipfs/src/client.ts
  javascript/modules/ipfs/src/index.ts
  javascript/modules/ipfs/src/interfaces.ts
  javascript/modules/ipfs/src/internal/api.ts
  javascript/modules/ipfs/src/internal/helpers.ts
  javascript/modules/ipfs/src/internal/network.ts
  javascript/modules/ipfs/src/typings.ts
  javascript/modules/ipfs/test/integration.test.ts
  javascript/modules/ipfs/tsconfig.json
  javascript/test-environment.js
  javascript/yarn.lock
Labels: javascript

#46 Version bump to 0.1.0
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/common/CHANGELOG.md
  javascript/modules/common/package.json
  javascript/modules/ipfs/package.json
Labels: javascript, javascript-common, javascript-client, client-publish, common-publish, javascript-ipfs, ipfs-publish

#43 Feature: Retrieve multiple DAOs
  javascript/modules/client/README.md
  javascript/modules/client/src/client.ts
  javascript/modules/client/src/internal/interfaces/client.ts
Labels: javascript, javascript-client
