Repository aragon/sdk, pull requests merged in 2022-05, with the labels that each got.

#9 Changing in the gas fee estimations functions
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-dao.ts
  javascript/modules/client/src/context.ts
  javascript/modules/client/src/internal/client-core.ts
  javascript/modules/client/src/internal/interfaces/context.ts
  javascript/modules/client/src/internal/interfaces/dao.ts
  javascript/modules/client/test/unit/client.test.ts
  javascript/modules/client/test/unit/context.test.ts
  javascript/package.json
Labels: javascript, client:feature, client:fix, javascript-client

#10 fix: generate release matrix python script
  .github/scripts/generate_release_matrix.py
Labels: client:feature, client:fix

#11 fix: sets output to proper matrix schema
  .github/scripts/generate_release_matrix.py
Labels: client:feature, client:fix

#12 Fix/tag release
  .github/workflows/javascript_publish.yml
Labels: client:fix

#13 fixes branch switch in javascript_publish
  .github/workflows/javascript_publish.yml
  javascript/modules/client/CHANGELOG.md
Labels: javascript, client:fix, javascript-client

#14 fix: cicd version generation and updating
  .github/scripts/generate_release_matrix.py
  .github/workflows/javascript_publish.yml
  .github/workflows/javascript_release.yaml
  javascript/modules/client/package.json
Labels: client:fix

#15 fix: version bump for js packages in cicd
  .github/workflows/javascript_release.yaml
Labels: client:fix

#16 Make deposit to DAO
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-dao.ts
  javascript/modules/client/src/internal/client-core.ts
  javascript/modules/client/src/internal/interfaces/dao.ts
Labels: javascript, javascript-client

#18 `withdraw` action generation
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/src/client-dao.ts
  javascript/modules/client/src/internal/client-core.ts
  javascript/modules/client/src/internal/interfaces/dao.ts
  javascript/modules/client/test/unit/client.test.ts
Labels: javascript, client:fix, javascript-client

#24 fixes if in release workflow
  .github/workflows/javascript_release.yaml
Labels: client:patch

#25 fix: git tag creation
  .github/workflows/javascript_release.yaml
  javascript/modules/client/package.json
Labels: client:patch

#22 F/readme labels
  README.md
  javascript/README.md
Labels: javascript, client:patch

#26 Upgraded to new `@aragon/core-contracts-ethers`
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/package.json
  javascript/modules/client/src/client-dao.ts
  javascript/yarn.lock
Labels: javascript, client:patch, javascript-client

#27 Getting `DAOFactory` address from `@aragon/core-contracts-ethers` package
  javascript/modules/client/CHANGELOG.md
  javascript/modules/client/README.md
  javascript/modules/client/src/context.ts
  javascript/modules/client/src/internal/interfaces/context.ts
  javascript/modules/client/test/unit/context.test.ts
Labels: javascript, client:patch, javascript-client
