Repository aragon/sdk, pull requests merged in 2023-06, with the labels that each got.

#225 Feature: Allow to get underlying token and add block number to getMembers
  modules/client-common/src/constants.ts
  modules/client-common/test/constants.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addresslistVoting/internal/client/methods.ts
  modules/client/src/addresslistVoting/internal/graphql-queries/members.ts
  modules/client/src/addresslistVoting/internal/interfaces.ts
  modules/client/src/multisig/internal/client/methods.ts
  modules/client/src/multisig/internal/graphql-queries/members.ts
  modules/client/src/multisig/internal/interfaces.ts
  modules/client/src/tokenVoting/internal/client/methods.ts
  modules/client/src/tokenVoting/internal/graphql-queries/token.ts
  modules/client/src/tokenVoting/internal/types.ts
  modules/client/src/tokenVoting/types.ts
  modules/client/test/integration/addresslistVoting-client/methods.test.ts
  modules/client/test/integration/multisig-client/methods.test.ts
  modules/client/test/integration/tokenVoting-client/methods.test.ts
Labels: client-release

#236 fix/OS-538-module-path
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client/CHANGELOG.md
  modules/client/package.json
Labels: client-release, client-common-release

#239 chore/ publish sdk-common v1.5.0
  modules/common/CHANGELOG.md
Labels: common-release

#245 Amending the failing client test
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/interfaces.ts
  modules/client/test/integration/constants.ts
Labels: client-release

#246 Ensure that decimals contains the wrapped token's value
  modules/client/CHANGELOG.md
  modules/client/examples/03-tokenVoting-client/12-get-token.ts
  modules/client/package.json
  modules/client/src/tokenVoting/internal/graphql-queries/token.ts
  modules/client/src/tokenVoting/internal/interfaces.ts
Labels: client-release
