Repository aragon/sdk, pull requests merged in 2023-11, with the labels that each got.

#298 Fix: Plugin preparations query
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/client/methods.ts
  modules/client/test/integration/client/methods.test.ts
Labels: client-release

#300 Feature: Add actions to proposal queries
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/types.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addresslistVoting/internal/graphql-queries/proposal.ts
  modules/client/src/addresslistVoting/internal/types.ts
  modules/client/src/addresslistVoting/internal/utils.ts
  modules/client/src/client-common/types/plugin.ts
  modules/client/src/multisig/internal/graphql-queries/proposal.ts
  modules/client/src/multisig/internal/types.ts
  modules/client/src/multisig/internal/utils.ts
  modules/client/src/tokenVoting/internal/graphql-queries/proposal.ts
  modules/client/src/tokenVoting/internal/utils.ts
  modules/client/test/integration/addresslistVoting-client/methods.test.ts
  modules/client/test/integration/constants.ts
  modules/client/test/integration/multisig-client/methods.test.ts
  modules/client/test/integration/tokenVoting-client/methods.test.ts
Labels: client-release, client-common-release

#301 refactor: Plugin Update Security Check
  docs/sdk/03-update-security-check/index.md
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/constants.ts
  modules/client/CHANGELOG.md
  modules/client/examples/01-client/16-is-plugin-update-valid.ts
  modules/client/examples/01-client/18-is-dao-update-valid.ts
  modules/client/examples/01-client/19-is-dao-update-proposal.ts
  modules/client/examples/05-encoders-decoders/15-apply-update.ts
  modules/client/package.json
  modules/client/src/internal/client/decoding.ts
  modules/client/src/internal/client/encoding.ts
  modules/client/src/internal/client/methods.ts
  modules/client/src/internal/constants.ts
  modules/client/src/internal/graphql-queries/dao.ts
  modules/client/src/internal/graphql-queries/plugin.ts
  modules/client/src/internal/interfaces.ts
  modules/client/src/internal/schemas.ts
  modules/client/src/internal/types.ts
  modules/client/src/internal/utils.ts
  modules/client/src/types.ts
  modules/client/test/integration/client/decoding.test.ts
  modules/client/test/integration/client/encoding.test.ts
  modules/client/test/integration/client/methods.test.ts
  modules/client/test/unit/client/utils.test.ts
Labels: client-release, client-common-release

#305 Fix: Proposal id and formatting
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/client/methods.ts
Labels: client-release

#306 Fix: Add missing check
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/utils.ts
  modules/client/src/types.ts
  modules/client/test/unit/client/utils.test.ts
Labels: client-release

#303 fix: classify signalling mutlisig proposals as succeeded after the end date has passed
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/constants.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addresslistVoting/internal/graphql-queries/proposal.ts
  modules/client/src/addresslistVoting/internal/utils.ts
  modules/client/src/client-common/types/plugin.ts
  modules/client/src/multisig/internal/graphql-queries/proposal.ts
  modules/client/src/multisig/internal/types.ts
  modules/client/src/multisig/internal/utils.ts
  modules/client/src/tokenVoting/internal/graphql-queries/proposal.ts
  modules/client/src/tokenVoting/internal/utils.ts
  modules/client/test/integration/constants.ts
  modules/client/test/unit/addresslistVoting-client/utils.test.ts
  modules/client/test/unit/multisig-client/utils.test.ts
  modules/client/test/unit/tokenVoting-client  /utils.test.ts
Labels: client-release, common-release

#311 Fix: Add `toLowerCase` in plugin address comparison
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/utils.ts
  modules/client/test/integration/client/methods.test.ts
Labels: client-release
