Repository aragon/sdk, pull requests merged in 2024-01, with the labels that each got.

#317 Chore: Changing voters and approvers count to 1000 from the default value of 100
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/multisig/internal/graphql-queries/proposal.ts
  modules/client/src/tokenVoting/internal/graphql-queries/proposal.ts
Labels: client-release

#319 fix: wrong root permission check
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/utils.ts
Labels: client-release

#320 Add: Support for base sepolia and arbitrum sepolia
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/constants.ts
  modules/client-common/src/types.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  yarn.lock
Labels: client-release, common-release

#322 release version 1.14.0 of client-common
  modules/client-common/CHANGELOG.md
Labels: client-common-release

#323 Fix: Typo in `LIVE_CONTRACTS`
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/constants.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
Labels: client-release, client-common-release
